/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/12/2015, 03:33:47 AM
    Author     : JULIAN
*/
body
{
    background-image: url(../imagenes/fondo.jpg);
    background-size: 100%;
    opacity: 0.8;
}
#contenedor
{
    width: 1024px;
    height: 1500px;
    /*background-color: forestgreen;*/
    border-radius: 10px;
    margin: 0 auto;
}
#contenedor:hover
{
    -moz-box-shadow: 0px 0px 30px #cfbf40;
    -webkit-box-shadow: 0px 0px 30px #cfbf40;
    box-shadow: 0px 0px 30px #cfbf40;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
#div1
{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-color: #009EFF;
    background-image: url(../imagenes/banner/opcion2.jpg);
    background-size: 100%;
       
}
#div2
{
    width: 100%;
    height: 50px;
    background-color: #666666;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    
}

.secci
{
    width: 1024px;
    height: 200px;
    background-color: #4297d7;
    /*border-style: solid;
    /*border-color: #D20005;*/
}

.opci
{
    width: 180px;
    height: 180px;
    background-color: #acdd4a;
    margin-left: 6%;
    margin-right: 8px;
    border-radius: 20px;
    float: left;
    transition: ease-out 0.3s;
}
.opci:hover
{
    border-radius: 34%;
    transition: ease-out 0.6s;
    background-color: #666666;
}
.opci:active
{
    background-color: #FFFFFF;
    transition: ease-out 0.2s;
}
.fotos
{
    width: 180px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
    transition: ease-in 0.4s;
    /*background-color: #66ff00; */   
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/82/5c/31/825c31b8422b73f52e4f91be1469c9f7.jpg);
    background-size: cover;
    
}
.fotos:hover
{
    width: 180px;
    height: 130px;
    transition: ease-out 0.4s;
    transform: rotate(360deg);
    border-radius: 47%;
    /*background-color: #66ff00; */   
    /*background-image: url(https://s-media-cache-ak0.pinimg.com/736x/82/5c/31/825c31b8422b73f52e4f91be1469c9f7.jpg);*/
    background-size: cover;
    
}

.textos{
    width: 180px;
    height: 30px;
    /*background-color: #ffff33;*/
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    
}
.inferior
{   width: 1024px;    
    height: 250px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    
}
#f1
{
    background-image: url(../imagenes/opciones/almacen.jpg);
}
#f2
{
    background-image: url(../imagenes/opciones/bono.jpg);
}
#f3
{
    background-image: url(../imagenes/opciones/cajas.jpg);
}
#f4
{
    background-image: url(../imagenes/opciones/categorias.jpg);
}
#fc
{
    background-image: url(../imagenes/opciones/ciudades.jpg);
}
#f5
{
    background-image: url(../imagenes/opciones/departamentos.png);
}
#f6
{
    background-image: url(../imagenes/opciones/cuotas.jpg);
}

#f7
{
    background-image: url(../imagenes/opciones/facturas.jpg);
}
#f8
{
    background-image: url(../imagenes/opciones/marcas.jpg);
}
#f9
{
    background-image: url(../imagenes/opciones/materiales.jpg);
}
#f10
{
    background-image: url(../imagenes/opciones/pagos.jpg);
}
#f11
{
    background-image: url(../imagenes/opciones/paises.jpg);
}#f12
{
    background-image: url(../imagenes/opciones/perfiles.jpg);
}
#f13
{
    background-image: url(../imagenes/opciones/productos.jpg);
}
#f14
{
    background-image: url(../imagenes/opciones/ventas.jpg);
}
#f15
{
    background-image: url(../imagenes/opciones/usuarios.jpg);
}
#f16
{
    background-image: url(../imagenes/opciones/stock.jpg);
}
#f17
{
    background-image: url(../imagenes/opciones/sucursales.png);
}
#f18
{
    background-image: url(../imagenes/opciones/tipoventas.jpg);
}

